<div id="message-<%= message.id %>">
  <% user = User.find(message.user_id) %>
  <div class="d-flex align-items-center">
    <% if user.avatar.attached? %>
      <%= cl_image_tag user.avatar.key, class: "hbuddy-match-avatar bordered small me-2", width:30, height:30 %>
    <% end %>
    <p>
      <strong><%= user.first_name %></strong>
    </p>
  </div>
  <p><%= message.content %></p>
  <small class="time"><%= message.created_at.strftime("at %l:%M %p") %></small>
</div>
