<div class="navbar navbar-expand-sm navbar-light">
    <ul class="nav nav-pills m-auto" id="pills-tab" role="tablist">
      <li class="nav-item" role="presentation">
        <%= link_to "/activities", class: "navbar-brand mx-2" do %>
          <button class="material-symbols-outlined nav-link <%= current_page?("/activities") ? "active" : "" %>" id="pills-home-tab">home</button>
        <% end %>
      </li>
      <li class="nav-item" role="presentation">
        <%= link_to "/users", class: "navbar-brand mx-2" do %>
          <button class="material-symbols-outlined nav-link <%= current_page?("/users") ? "active" : "" %>" id="pills-swipe_left-tab">swipe_left</button>
        <% end %>
      </li>
      <li class="nav-item" role="presentation">
        <%= link_to "/activities/new", class: "navbar-brand mx-2" do %>
          <button class="material-symbols-outlined nav-link <%= current_page?("/activities/new") ? "active" : "" %>" id="pills-add_box-tab">add_box</button>
        <% end %>
      </li>
      <li class="nav-item" role="presentation">
        <%= link_to "/chatrooms", class: "navbar-brand mx-2" do %>
          <button class="material-symbols-outlined nav-link <%= current_page?("/chatrooms") ? "active" : "" %>" id="pills-chat_bubble-tab">chat_bubble</button>
        <% end %>
      </li>
      <li class="nav-item" role="presentation">
        <%= link_to destroy_user_session_path, data: {turbo_method: :delete}, class: "navbar-brand mx-2" do %>
          <% if user_signed_in? %>
            <%= image_tag current_user.avatar, class: "hbuddy-match-avatar small bordered mx-2" %>
          <% else %>
            <button class="material-symbols-outlined nav-link" id="pills-account_circle-tab">account_circle</button>
          <% end %>
        <% end %>
      </li>
    </ul>
</div>
