<div class="container-fluid hbuddy-chatroom"
  data-controller="activity-chatroom-subscription"
  data-activity-chatroom-subscription-chatroom-id-value="<%= @activity_chatroom.id %>"
  data-activity-chatroom-subscription-current-user-id-value="<%= current_user.id %>">

  <div class="hbuddy-chatroom-header">
    <%= link_to chatrooms_path, class: "d-flex justify-content-start align-items-center" do %>
      <span class="ico material-symbols-outlined">arrow_back_ios_new</span>
        <% if @activity.photo.attached? %>
          <%= cl_image_tag @activity.photo.key, class: "hbuddy-match-avatar", width:50, height:50 %>
        <% end %>
      <p class="mb-0"><%= @activity.title %> activity chatroom</p>
    <% end %>
  </div>

  <div class="hbuddy-messages" data-activity-chatroom-subscription-target="messages">
    <% @activity_chatroom.activity_messages.each_with_index do |message, i| %>
      <% next_style = "" %>
      <% if @activity_chatroom.activity_messages.length != i+1 %>
        <% next_style = @activity_chatroom.activity_messages[i+1].sender?(current_user) ? 'sender-style' : 'receiver-style' %>
      <% end %>
      <% current_style = message.sender?(current_user) ? 'sender-style' : 'receiver-style' %>
      <div class="<%= current_style %> <%= 'no-tail' if current_style == next_style %>">
        <%= render "activity_messages/message", message: message %>
      </div>      
    <% end %>
  </div>
  
  <%= simple_form_for [@activity_chatroom, @activity_message], html: { data: { action: "turbo:submit-end->activity-chatroom-subscription#resetForm" }, class: "d-flex hbuddy-message-input" } do |f| %>
    <%= f.input :content, label: false, placeholder: "Send message", wrapper_html: {class: "flex-grow-1"} %>
    <%= button_tag(type: 'submit', class: "btn btn-primary d-flex align-items-center") do %>
      <span class="material-symbols-outlined">send</span>
    <% end %>
  <% end %>

</div>
