<div class="container-fluid">
  <!-- Searchbar -->
  <%= form_with url: activities_path, method: :get, class:"hbuddy-search-bar mb-3" do %>
    <%= text_field_tag :query,
    params[:query],
    class:"form-control search-input",
    placeholder:"Search"  %>
    <%= button_tag class: "search-btn", type: "submit" do %>
      <span class="material-symbols-outlined">search</span>
    <% end %>
  <% end %>
  <h1 class="fs-1 text-danger fw-bold">Welcome <%= current_user.first_name.capitalize %></h1>

  <% if @matches != [] %>
    <h2 class="text-primary fs-6 fw-bold lh-sm mb-3">Your matches's activity</h2>
    <div id="hbuddyCardCarousel" class="carousel slide mb-5" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <% @matches_activities.each_with_index do |activity, n| %>
          <button type="button" data-bs-target="#hbuddyCardCarouselIndicators" data-bs-slide-to="<%= n %>" class="<%= 'active' if n == 0 %>" aria-current="<%= 'true' if n == 0 %>" aria-label="Slide <%= n+1 %>"></button>
        <% end %>
      </div>
      <div class="carousel-inner">
        <% @matches_activities.each_with_index do |activity, n| %>
         <%= link_to activity_path(activity) do %>
          <div class="carousel-item <%= 'active' if n == 0 %>">
            <div class="card hbuddy-card">
              <% if activity.photo.attached? %>
                <%= cl_image_tag activity.photo, class: "card-img-top" %>
              <% end %>
              <% if activity.user.avatar.attached? %>
                <%= cl_image_tag activity.user.avatar, class: "hbuddy-match-avatar bordered", width:50, height:50 %>
              <% end %>
              <div class="card-body">
                <%= render "shared/badges", activity: activity %>
                <p class="card-text"><%= activity.title %> with <%= User.find(activity.user_id).first_name %></p>
                <p class="hbuddy-card-location"><%= activity.location %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% else %>
    <div class="border rounded p-3">
      <p class="fs-5 text-center fw-semibold mb-2">You have no matches..</p>
      <p class="text-center">Add some preferences to your profile:</p>
      <div class="d-flex d-flex justify-content-center">
        <span class="badge text-bg-success text-light ms-2">Sports</span>
        <span class="badge text-bg-info text-light ms-2">Food</span>
        <span class="badge text-bg-primary text-light ms-2">Sightseeing</span>
        <span class="badge text-bg-warning text-light ms-2">Entertainment</span>
      </div>
    </div>
  <% end %>

  <h2 class="text-primary fs-6 fw-bold lh-sm mb-3 mt-2">Recommended activities in <%= current_user.location %></h2>
  <%# slider of card of your activities in your city %>
  <ul class="hbuddy-card-container d-flex justify-content-start align-items-center">
    <% @activities_location.each do |activity| %>
      <li>
        <%= link_to activity_path(activity) do %>
        <div class="card hbuddy-card small-size">
          <% if activity.photo.attached? %>
            <%= cl_image_tag activity.photo, class: "card-img-top" %>
          <% end %>
          <% if activity.user.avatar.attached? %>
            <%= cl_image_tag activity.user.avatar, class: "hbuddy-match-avatar bordered", width:50, height:50 %>
          <% end %>
          <div class="card-body">
            <%= render "shared/badges", activity: activity %>
            <p class="card-text"><%= activity.title %> with <%= User.find(activity.user_id).first_name %></p>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>

  <h2 class="text-primary fs-6 fw-bold lh-sm mb-3 mt-2">Explore other activities</h2>
  <%# slider of random cardsin DB %>
  <ul class="hbuddy-card-container d-flex justify-content-start align-items-center mb-4">
    <% @activities.each do |activity| %>
      <li>
        <%= link_to activity_path(activity) do %>
        <div class="card hbuddy-card small-size">
        <% if activity.photo.attached? %>
          <%= cl_image_tag activity.photo, class: "card-img-top" %>
        <% end %>
        <% if activity.user.avatar.attached? %>
          <%= cl_image_tag activity.user.avatar, class: "hbuddy-match-avatar bordered", width:50, height:50 %>
        <% end %>
          <div class="card-body">
            <%= render "shared/badges", activity: activity %>
            <p class="card-text"><%= activity.title %> with <%= User.find(activity.user_id).first_name %></p>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
