<div class="container">
  <%# welcome with name %>
  <div class="mb-4">
    <h1 class="text-danger fw-bold"><%= @activity.title.capitalize %> with <%=User.find(@activity.user_id).first_name.capitalize%></h1>
  </div>
  <%# card %>
  <div class="card hbuddy-card">
      <% if @activity.photo.attached? %>
        <%= cl_image_tag @activity.photo.key, class: "card-img-top" %>
      <% end %>
      <% if User.find(@activity.user_id).avatar.attached? %>
        <%= cl_image_tag User.find(@activity.user_id).avatar.key, class: "hbuddy-match-avatar bordered", width:50, height:50 %>
      <% end %>
    <div class="card-body">
      <span class="badge text-bg-warning text-light"> <%= @activity.preference.category %></span>
      <div class="hbuddy-card-location d-flex align-items-center">
        <span class="material-symbols-outlined me-2">location_on</span>
        <div>
          <p> <%= @activity.location.capitalize %></p>
        </div>
      </div>
      <div class="d-flex align-items-center">
        <span class="material-symbols-outlined me-2">today</span>
        <p class="card-text"> <%=@activity.start_date.strftime('%a, %b %e %k:%M') %> ~ <%= @activity.end_date.strftime('%a, %b %e %k:%M') %></p>
      </div>
      <div class="d-flex align-items-center">
        <span class="material-symbols-outlined me-2">payments</span>
        <% if @activity.total_price == nil || 0 %>
          <p>Free</p>
        <% else %>
          <p class="card-text"><%= @activity.total_price %>€</p>
        <% end %>
      </div>
    </div>
  </div>
  <br>
  <%# join button %>
  <div class="d-grid gap-2 mt-1">
  <% if @activity.user_id != current_user.id %>
    <button type="button" class="btn btn-danger btn-rounded">Join</button>
  <% end %>
  </div>

  <%# description %>
  <div class="card-body">
    <%# small pill %>
    <div class="d-flex flex-row my-3 justify-content-between">
      <div class="py-2">
        <% if @activity.min_persons == nil %>
          <div class="badge text-bg-success text-light d-flex align-items-center">
            <span class="material-symbols-outlined me-1">all-inclusive</span>
            <span class="material-symbols-outlined me-1">groups</span>
          </div>
        <% else %>
          <div class="badge text-bg-success text-light d-flex align-items-center">
            <span class="material-symbols-outlined me-1">groups</span>
            <span><%= @activity.min_persons %> - <%= @activity.max_persons %></span>
          </div>
        <% end %>
      </div>

      <div class="py-2">
        <% if @activity.gender == "Not specified" %>
        <div class=" badge text-bg-success text-light d-flex align-items-center">
          <span>Group of </span>
          <span class="material-symbols-outlined">male</span>
          <span class="material-symbols-outlined">female</span>
        </div>
        <% elsif @activity.gender == "Male" %>
          <div class="badge text-bg-success text-light d-flex align-items-center">
            <span>Group of </span>
            <span class="material-symbols-outlined">male</span>
          </div>
        <% elsif @activity.gender == "Female" %>
          <div class="badge text-bg-success text-light d-flex align-items-center">
            <span>Group of </span>
            <span class="material-symbols-outlined">female</span>
          </div>
        <% end %>
      </div>

      <div class="py-2 mx-2">
        <% if @activity.age_range != nil %>
          <div class="badge text-bg-success text-light d-flex align-items-center">
            <span class="material-symbols-outlined me-1">cake</span>
            <span><%= @activity.age_range.first %> - <%= @activity.age_range.last %></span>
          </div>
        <% end %>
      </div>
    </div>

    <%# description %>
    <div>
      <div class="card-body">
        <strong>Description:</strong>
        <p><%= @activity.description %></p>
      </div>

      <%# additional info %>
      <div class="card-body mb-2">
        <strong>Additional information:</strong>
        <p><%= @activity.useful_information %></p>
      </div>
    </div>
  </div>

  <%# map %>
  <div class="border rounded" style="width: 100%; height: 250px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

</div>
