<!DOCTYPE html>
<html>
  <head>
    <title>HobBuddy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <!-- app/views/layouts/application.html.erb -->
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.js"></script>

    <%# Logo ok %>

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">

    <%= render 'shared/ios_pwa_links' %>
  </head>

  <body class="body-gradient">
    <%= render "shared/navbar" %>
    <%#= render "shared/flashes" %>

    <div class="<%= controller_name != "matches" ? "scrollable" : "" %>">
      <%= yield %>
    </div>

  </body>
</html>
